<br><br><br><br><br><br><br>


<div class="formHeading">
  <h1>Add Item</h1>
</div>

<div class="formTable">
  <table>
    <tr>
      <td>
        <label for="Item">Item</label><br>
        <input type="text" placeholder="Item">
      </td>
      <td>
        <label for="Calories">Calories</label><br>
        <input type="text" placeholder="Calories">
      </td>
      <td>
        <label for="Total Fat">Total Fat</label><br>
        <input type="text" placeholder="Total Fat">
      </td>
    </tr>
    <tr>
      <td>
        <label for="Sodium">Sodium</label><br>
        <input type="text" placeholder="Sodium">
      </td>
      <td>
        <label for="Total Carb">Total Carb</label><br>
        <input type="text" placeholder="Total Carb">
      </td>
      <td>
        <label for="Protein">Protein</label><br>
        <input type="text" placeholder="Protein">
      </td>
    </tr>
  </table>
  <button type="submit">Add Item</button>
</div>
