<br><br><br><br><br><br><br>

<div class="link">
  <%= link_to"Back to the table", :controller=>"home", :action=>"table" %>
</div>

<div class="formHeading">
  <h1>Add Item</h1>
</div>

<div class="formTable">
  <table>
    <tr>
      <td>
        <label for="Item">Item</label><br>
        <input type="number" placeholder="Item">
      </td>
      <td>
        <label for="Calories (cal.)">Calories</label><br>
        <input type="number" placeholder="Calories">
      </td>
      <td>
        <label for="Total Fat (g.)">Total Fat</label><br>
        <input type="number" placeholder="Total Fat">
      </td>
    </tr>
    <tr>
      <td>
        <label for="Sodium (mg.)">Sodium</label><br>
        <input type="number" placeholder="Sodium">
      </td>
      <td>
        <label for="Total Carb (g.)">Total Carb</label><br>
        <input type="number" placeholder="Total Carb">
      </td>
      <td>
        <label for="Protein (g.)">Protein</label><br>
        <input type="number" placeholder="Protein">
      </td>
    </tr>
  </table>
  <button type="submit">Add Item</button>
</div>
