<!-- <h1>Home#get</h1>
<p>Find me in app/views/home/get.html.erb</p> -->

<br><br><br><br><br><br><br><br>

<div class="heading">
  <h1>Welcome,</h1>
<br>
  <center><div>
    <center><h4>Daily Tracker is a web application <br>
                used to help manage people's <br>
                nutritional intake for each day.</h4></center>
  </div></center>
  <br>
  <center><h4><%= link_to"Click here to view food log", :controller=>"items", :action=>"index" %></h4></center>
  <br><br>
  <center><h4><%= link_to"Click here to view excercise log", :controller=>"activities", :action=>"index" %></h4></center>

  <br><br>
  <center><%= image_tag("runner.png", :class=>"runningImage") %></center>

</div>
