<br><br><br><br><br><br><br><br>

<div class="pastHeading">
  <h1>Last 5 Days</h1>

  <table>
    <tr><td>
      1 Day ago
      <p>Total Calories: 2,240</p>
    </td></tr>
    <tr><td>
      2 Days ago
      <p>Total Calories: 3,140</p>
    </td></tr>
    <tr><td>
      3 Days ago
      <p>Total Calories: 1,890</p>
    </td></tr>
    <tr><td>
      4 Days ago
      <p>Total Calories: 2,370</p>
    </td></tr>
    <tr><td>
      5 Days ago
      <p>Total Calories: 2,120</p>
    </td></tr>
  </table>
</div>
