<br><br><br><br><br><br><br><br><br>


<div class="subHeading">
  <h2>My Tracker</h4>
  <%= link_to"+ Add Item", :controller=>"home", :action=>"form" %>
</div>


<div class="tableDiv">
  <table>
    <thead>
      <th>Item</th>
      <th>Calories (cal.)</th>
      <th>Total Fat (g.)</th>
      <th>Sodium (mg.)</th>
      <th>Total Carb (g.)</th>
      <th>Protein (g.)</th>
    </thead>

    <!-- Hardcoded input -->
    <tr>
      <td>Cheeseburger</td>
      <td>303</td>
      <td>14</td>
      <td>589</td>
      <td>30</td>
      <td>15</td>
    </tr>

    <tr>
      <td>Gatorade</td>
      <td>150</td>
      <td>0</td>
      <td>250</td>
      <td>38</td>
      <td>0</td>
    </tr>
    <!-- End Hardcoded input -->

  </table>
</div>

<br>

<div class="table">

    <h3>Total: </h3>

    <table class="totalTable">
      <tr>
        <th>453</th>
        <th>14</th>
        <th>839</th>
        <th>68</th>
        <th>15</th>
      </tr>
    </table>

</div>
