<!-- Eliminate this view -->

<%= render 'form', item: @item %>
<br><br><br><br>

<div class="link">
  <%= link_to"Back to the table", items_path %>
</div>

<div class="formHeading">
  <h1>Add Item</h1>
</div>
