<!-- Eliminate this view -->
<br><br><br><br>
<%= render 'form', item: @item %>


<div class="link">
  <%= link_to"Back to the Nutrition Table", items_path %>
</div>

<div class="formHeading">
  <h1>Add Item</h1>
</div>
