/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*Template Start*/
 body {
   margin: 0;
   background-color: #fafafa
}

 .navbar {
   width: 100%;
   font-size: 1.75em;
   padding: 8px 0px 0px 10px;
   height: 90px;
   background-color: #928E8E;
   overflow: hidden;
   position: fixed;
   top: 0;
}

 .logo {
   width: 80px;
   height:80px;
   float: left;
   border-radius: 50%;
}

 .navbar h1 {
   text-align: center;
   color: #7ABCC8;
   padding-right: 50px;
   margin-top: 0
 }

footer {
   position: absolute;
   width: 100%;
   text-align: center;
   bottom: 0px;
   border-top: 1px solid lightgrey;
   color: #7ABCC8;
}

/* Template End */


/* Home Start */
.heading {
   width: 60vw;
   height: 60vh;
   border: 1px solid lightgrey;
   color: #7ABCC8;
   background-color: white;
   position: absolute;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.heading h1 {
   font-size: 3.5em;
   padding: 0px 50px;
}

.heading div h4, .heading h4 a{
   font-size: 2em;
   color: #7ABCC8;
}
/* Home End */



/* Table page */
.subHeading {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}

.subHeading h2 {
   float: left;
}

.subHeading a {
   float: right;
   text-decoration: none;
   color: black;
   font-size: 1.25em;
   padding-top: 20px;
}

table thead th {
   font-size: 1.50em;
}

.tableDiv, .table {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   color: #7ABCC8;
   background-color: white;
}

.tableDiv table, .table table {
   border-collapse: collapse;
   width: 100%;
   height: 100%;
   text-align: center;
}

.tableDiv th, .tableDiv td {
    border: 1px solid #7ABCC8;
    width: 17%;
    height: 50px;
    font-size: 1.25em;
}
.table th, .table td {
   border: 1px solid #7ABCC8;
   width: 15%;
   height: 50px;
   font-size: 1.25em;
}

.table h3 {
   float: left;
}

/* Table end */
