/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*Template Start*/
 body {
   margin: 0;
}

 .navbar {
   width: 100%;
   font-size: 1.75em;
   padding: 8px 0px 0px 10px;
   height: 90px;
   background-color: #928E8E;
   overflow: hidden;
   position: fixed;
   top: 0;
}

 .logo {
   width: 80px;
   height:80px;
   float: left;
   border-radius: 50%;
}

 .navbar h1 {
   text-align: center;
   color: #7ABCC8;
   padding-top: 0px;
   margin-top: 0
 }

footer {
   position: absolute;
   width: 100%;
   text-align: center;
   bottom: 0px;
   border-top: 1px solid lightgrey;
   color: #7ABCC8;
}

/* Template End */


/* Home Start */
.heading {
   width: 60%;
   height: 700px;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid lightgrey;
   color: #7ABCC8;
}

.heading h1 {
   font-size: 3.5em;
   padding-left: 50px;
}

.heading div h4, .heading h4 a{
   font-size: 2em;
   color: #7ABCC8;
}

.trackTable{
  width: 90%;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  /*border: 1px solid lightgrey;*/
  color: #7ABCC8;

}

.trackTable table tr{
   width: 100%;
   font-size: 2em;
   border: 1px solid lightgrey;
}

.trackTable table tr th{
   width: 19%;
   border: 1px solid lightgrey;
}

.tableTitle h5 {
  font-size: 1em;
}



/* Home End */
