/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*Template Start*/
body {
   margin: 0;
   background-color: #fafafa;
   min-width: 780px;
}

.navbar {
   width: 100%;
   font-size: 1.75em;
   padding: 8px 0px 0px 10px;
   height: 90px;
   background-color: #928E8E;
   overflow: hidden;
   position: fixed;
   top: 0;
}

.navbar div {
  width: 33%;
  float: left;
}

.navbar div ul {
  list-style: none;
  float: right;
}
.navbar div ul li {
  display: inline-block;
  padding-right: 5px;
}
.navbar div ul li a {
  font-size: 1.55em;
  color: #82C0CB;
  text-decoration: none;
  padding: 0px 4px;
}

.navbar div ul li a:hover {
  background-color: #82C0CB;
  color: white;
  border-radius: 10px;
}

img {
   width: 80px;
   height:80px;
   float: left;
   border-radius: 50%;
}

.navbar h1 {
   text-align: center;
   position: relative;
   color: #82C0CB;

   padding-top: 25px;
   margin-top: 0;
 }


footer {
   position: absolute;
   width: 100%;
   text-align: center;
   bottom: 0px;
   border-top: 1px solid lightgrey;
   color: #82C0CB;
    background-color: #fafafa;
}


/* Template End */


/* Home Start */
.heading {
   width: 60vw;
   height: 60vh;
   border: 1px solid lightgrey;
   color: #82C0CB;
   background-color: white;
   position: absolute;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.heading h1 {
   font-size: 3.5em;
   padding: 0px 50px;
}

.heading div h4, .heading h4 a{
   font-size: 2em;
   color: #82C0CB;
}
/* Home End */



/* Table page */
.subHeading {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   /*padding-bottom: 15px;*/
}

.subHeading h2 {
   float: left;
}
.subHeading h1 {
   text-align: center;
   padding-right: 75px;
}


.subHeading a {
   float: right;
   text-decoration: none;
   color: black;
   font-size: 1.25em;
   padding: 10px;
   font-weight: bold;
   background-color: #82C0CB;
   border-radius: 10%;
}

table thead th {
   font-size: 1.50em;
}

.tableDiv, .table {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   color: #82C0CB;
}

.tableDiv table, .table table {
   border-collapse: collapse;
   width: 100%;
   height: 100%;
   text-align: center;
   background-color: white;

}

.tableDiv th, .tableDiv td {
    border: 1px solid #82C0CB;
    width: 17%;
    height: 50px;
    font-size: 1.25em;
}

.table h3 {
   float: left;
}

.second {
  padding-right: 10%;
}

/* Table end */

/* Form Page */
.link {
   padding-left: 10px;
}
.link a {
   font-size: 1.25em;
   border-radius: 5%;
   padding: 10px;
   text-decoration: none;
   color: #82C0CB;;
}
.link a:hover {
   background-color: #82C0CB;
   color: white;
}

.formHeading {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   color: #82C0CB;
}

.formTable {
   width: 70%;
   height: 60%;
   position: absolute;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   text-align: center;
   color: #82C0CB;
}

.formTable table {
   width: 100%;
}

.formTable table tr td {
   padding: 20px;
   width: 33%;
   height: 200px;
   font-size: 1.25em;
}

.formTable table tr td input{
   height: 25px;
   width: 100%
}

/* End Form */

/* Start Past */
.pastHeading {
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   color: #82C0CB;
}

.pastHeading table {
   text-align: left;
   border-collapse: collapse;
   width: 100%;
   font-size: 1.75em;
   background-color: white;
}

.pastHeading table tr td {
   padding-left: 15px;
   border: 1px solid lightgrey;
   height: 80px;
   padding-top: 10px;

}

.pastHeading table tr td p {
   padding-right: 20px;
   float: right
}

/* End Past */
