<br><br>

<!-- <h1>Editing Activity</h1> -->

<%= render 'form', activity: @activity %>

<!-- <%= link_to 'Show', @activity %> | -->
<!-- <%= link_to 'Back', activities_path %> -->
<div class="link">
  <%= link_to"Back to the Excercise Table", activities_path %>
</div>

<div class="formHeading">
  <h1>Edit Activity</h1>
</div>
