<br><br>

<div class="link">
  <%= link_to"Back to the Excercise Table", activities_path %>
</div>

<div class="formHeading">
  <h1>Edit Activity</h1>
</div>


<%= render 'form', activity: @activity %>
