<br><br><br><br>

<%= render 'form', activity: @activity %>

<div class="link">
  <%= link_to 'Back to the Activity Table', activities_path %>
</div>

<div class="formHeading">
  <h1>Add Activity</h1>
</div>
